html,
body {
  height: 100%;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Fira Code';
}

.page {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section {
  width: 100%;
}

.header {
  height: 83%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

a {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

h1,
h2,
h3 {
  padding: 5px;
}

p {
  padding: 10px;
  font-size: 15px;
}

.uli,
.lii {
  display: flex;

}

.uli {
  margin: 0 auto;
  padding: 10px;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
  text-decoration: none;
  padding: 0 2.5px;
  margin: 0;
}

svg {
  min-height: 30%;
  min-height: 30%;

  padding: 25px 45px 20px 45px;
}

svg:hover path {
  filter: invert(50%);
}

.inte {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.inte_list {
  overflow: auto hidden;
  display: flex;
  width: 100%;
}

@media (prefers-color-scheme: light) {
  .page {
    background-color: #F0F0F0;
    color: #404040
  }

  svg {
    fill: #404040;
  }

  .inte {
    background-color: #dfdfdf;
  }
}

a:hover {
  background-color: #242424;
  border-radius: 5px
}

@media (prefers-color-scheme: dark) {
  .page {
    background-color: #404040;
    color: #F0F0F0;
  }

  svg {
    fill: #F0F0F0;
  }

  .inte {
    background-color: #626262;
  }
}


.meme {
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
}

.meme p {
  font-size: 5px;
  padding: 1px;
}